div{
  width:100%;
  font-size:16px;
  margin:auto;
}

h1{
  color:white;
  text-align: center;
  font-weight: normal;
}

table,th,td,tr{
  border:1px solid #2f343e;
  border-collapse: collapse;
  padding:10px;
  background: #1b1e24;
  color: #9ca2aa;
  font-weight: normal;
  margin:3%;
}

tr{
  border-bottom: 2px solid #9ca2aa;
}


select{
  margin:3%;
  background:#666;
  font-size:1rem;
  color:white;
  outline: none;
  display: block;
  padding: 1em 3em 1em 1.5em;
  transition: border-color 0.2s;
  font-family: inherit;
  line-height: inherit;
}

select option:checked { 
background:#333;
outline:none;
border-bottom:1px solid #1b1e24;
}


label{
  display: block;
}

img{
  max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border: 1px solid #1b1e24;
}
